<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/user/ulayout}">
<head>
    <meta charset="UTF-8">
    <title>Account - List</title>
    <style>
        .error{
            color: red;
        }
    </style>
</head>
<body>
<div layout:fragment="user-main-content">
    <h4>Account List</h4>
    <table>
        <thead>
            <th>
                <td th:text="#{reg.username}">User name</td>
                <td th:text="#{reg.password}">User name</td>
                <td th:text="#{reg.fullname}">Full name</td>
                <td th:text="#{reg.email}">Email</td>
                <td th:text="#{reg.action}">Action</td>
            </th>
        </thead>
        <tbody>
        <tr th:each="acc : ${listSellerAcc}">
            <td th:text="${acc.username}">Username</td>
            <td th:text="${acc.password}">Password</td>
            <td th:text="${acc.firstName} ${acc.lastName}">Full name</td>
            <td th:text="${acc.email}">Email</td>
            <td>
                <form method="post" th:action="@{approveAcc}?uname=${acc.username}">
                    <input type="submit" value="Approve" />
                </form>
                <form method="post" th:action="@{rejectAcc}">
                    <input type="submit" value="Reject" />
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>