<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin/alayout}">
<head>
    <meta charset="UTF-8">
    <title>Online Market</title>
</head>
<body>
<div layout:fragment="admin-main-content">
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>List of new reviews</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Buyer</th>
                        <th>OrderDate</th>
                        <th>Subtotal</th>
                        <th>Tax</th>
                        <th>ShippingFee</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>DeliveryDate</th>
                        <th>Command</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.orderno}">Tiger Nixon</td>
                        <td th:text="${order.buyer.firstName +' ' +order.buyer.lastName}">System Architect</td>
                        <td th:text="${order.dateCreate}">Edinburgh</td>
                        <td th:text="10">Edinburgh</td>
                        <td th:text="${order.tax}">Edinburgh</td>
                        <td th:text="${order.shippingFee}">Edinburgh</td>
                        <td th:text="${order.total}">Edinburgh</td>
                        <td>
                            <form th:id="${order.id}" th:action="@{'/seller/changeStatus'}" method="post">
                                <input th:id="${order.id+'_order'}" name="id" th:value="${order.id}" type="hidden">
                                <select name="status" th:id="${order.id+'_select'}">
                                    <option value="New" th:text="New" th:selected="${order.sStatus=='New'}"></option>
                                    <option value="Shipped" th:text="Shipped" th:selected="${order.sStatus=='Shipped'}"></option>
                                    <option value="OnTheWay" th:text="OnTheWay" th:selected="${order.sStatus=='OnTheWay'}"></option>
                                    <option value="Delivered" th:text="Delivered" th:selected="${order.sStatus=='Delivered'}"></option>
                                    <option value="Cancel" th:text="Cancel" th:selected="${order.sStatus=='Cancel'}"></option>

                                </select>
                                <input th:id="${order.id+'_submit'}" type="submit" value="update" />
                            </form>
                        </td>
                        <td th:text="${order.dateDelivered}">Edinburgh</td>

                        <td>
                            <a th:href="${'/seller/orderdetail?id='+ order.id}">View</a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>