<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin/alayout}">
<head>
    <meta charset="UTF-8">
    <title>Online Market</title>
</head>
<body>
<div layout:fragment="admin-main-content">
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>List of new seller accounts</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th th:text="#{reg.username}">UserName</th>
                        <th th:text="#{reg.firstName}">FirstName</th>
                        <th th:text="#{reg.lastName}">LastName</th>
                        <th th:text="#{reg.action}">Command</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="account : ${sellers}">
                        <td th:text="${account.username}">Tiger Nixon</td>
                        <td th:text="${account.firstName}">System Architect</td>
                        <td th:text="${account.lastName}">Edinburgh</td>

                        <td>
                            <form th:action="@{'/admin/approveAcc'}" method="post">
                                <input type="hidden" name="username" th:value="${account.username}"/>
                                <input type="submit" value="Approve"/>
                            </form>

                            <form th:action="@{'/admin/rejectAcc'}" method="post">
                                <input type="hidden" name="username" th:value="${account.username}"/>
                                <input type="submit" value="Reject"/>
                            </form>


                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>