<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
    <header class="masthead mb-auto" th:fragment="fragheader">
        <div class="inner">
            <h3 class="masthead-brand">Dynamical Cover</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="https://getbootstrap.com/docs/4.0/examples/cover/#">Home</a>
                <a class="nav-link" href="https://getbootstrap.com/docs/4.0/examples/cover/#">Orders</a>
                <a class="nav-link" href="https://getbootstrap.com/docs/4.0/examples/cover/#">About Us</a>
            </nav>
        </div>
    </header>
</body>
</html>