<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<div th:fragment="fragfooter">
    <footer class="footer">
        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2020 MIU. All Rights Reserved.</p>
                <!-- End .footer-copyright -->
                <figure class="footer-payments">
                    <img th:src="@{/assets/images/payments.png}" alt="Payment methods" width="272" height="20">
                </figure><!-- End .footer-payments -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->
    <!-- Plugins JS File -->
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/jquery.hoverIntent.min.js}"></script>
    <script th:src="@{/assets/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/assets/js/superfish.min.js}"></script>
    <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap-input-spinner.js}"></script>
    <script th:src="@{/assets/js/jquery.plugin.min.js}"></script>
    <script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
    <!-- Main JS File -->
    <script th:src="@{/assets/js/main.js}"></script>
    <script th:src="@{/assets/js/demos/demo-4.js}"></script>
    <script th:src="@{/assets/cart.js}"></script>
</div>
</body>
</html>