<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/user/ulayout}">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div layout:fragment="user-main-content">
    <main class="main">
        <div class="page-content">
            <div class="container">
                <h2 class="title mb-3">Product List</h2><!-- End .title -->
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-3">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-1.jpg" alt="Product image"
                                         class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>follow</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body" style="transform: translateY(0px);">
                                <div class="product-action">
                                    <a href="cart.html" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                                <div class="product-cat">
                                    <a href="#">Women</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Aliquam tincidunt mauris</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $50.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer" style="visibility: hidden; transform: translateY(100%);">
                                <div class="ratings-container">
                                    <span class="ratings-text">4 Reviews</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-3">
                            <figure class="product-media">
                                <span class="product-label label-sale">30 points</span>
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-2.jpg" alt="Product image"
                                         class="product-image">
                                </a>
                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>follow</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body" style="transform: translateY(0px);">
                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                                <div class="product-cat">
                                    <a href="#">Men</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Vestibulum auctor</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $120.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer" style="visibility: hidden; transform: translateY(100%);">
                                <div class="ratings-container">
                                    <span class="ratings-text">4 Reviews</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-3">
                            <figure class="product-media">
                                <span class="product-label label-out">Out of Stock</span>
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-3.jpg" alt="Product image"
                                         class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>follow</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body" style="transform: translateY(0px);">
                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                                <div class="product-cat">
                                    <a href="#">Women</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Nunc dignissim risus</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $50.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer" style="visibility: hidden; transform: translateY(100%);">
                                <div class="ratings-container">
                                    <span class="ratings-text">0 Reviews</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-3">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-4.jpg" alt="Product image"
                                         class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>follow</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body" style="transform: translateY(0px);">
                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                                <div class="product-cat">
                                    <a href="#">Accessories</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Cras ornare tristique</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $32.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer" style="visibility: hidden; transform: translateY(100%);">
                                <div class="ratings-container">

                                    <span class="ratings-text">11 Reviews</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-3">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-1.jpg" alt="Product image"
                                         class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>follow</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body" style="transform: translateY(0px);">
                                <div class="product-action">
                                    <a href="cart.html" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                                <div class="product-cat">
                                    <a href="#">Women</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Aliquam tincidunt mauris</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $50.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer" style="visibility: hidden; transform: translateY(100%);">
                                <div class="ratings-container">
                                    <span class="ratings-text">4 Reviews</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-3">
                            <figure class="product-media">
                                <span class="product-label label-sale">30 points</span>
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-2.jpg" alt="Product image"
                                         class="product-image">
                                </a>
                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>follow</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body" style="transform: translateY(0px);">
                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                                <div class="product-cat">
                                    <a href="#">Men</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Vestibulum auctor</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $120.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer" style="visibility: hidden; transform: translateY(100%);">
                                <div class="ratings-container">
                                    <span class="ratings-text">4 Reviews</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-3">
                            <figure class="product-media">
                                <span class="product-label label-out">Out of Stock</span>
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-3.jpg" alt="Product image"
                                         class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>follow</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body" style="transform: translateY(0px);">
                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                                <div class="product-cat">
                                    <a href="#">Women</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Nunc dignissim risus</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $50.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer" style="visibility: hidden; transform: translateY(100%);">
                                <div class="ratings-container">
                                    <span class="ratings-text">0 Reviews</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-3">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-4.jpg" alt="Product image"
                                         class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>follow</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body" style="transform: translateY(0px);">
                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                                <div class="product-cat">
                                    <a href="#">Accessories</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Cras ornare tristique</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $32.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer" style="visibility: hidden; transform: translateY(100%);">
                                <div class="ratings-container">

                                    <span class="ratings-text">11 Reviews</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                </div><!-- End .row -->
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                            </a>
                        </li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item-total">of 6</li>
                        <li class="page-item">
                            <a class="page-link page-link-next" href="#" aria-label="Next">
                                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>
</div>
</body>

</html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/user/ulayout}">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div layout:fragment="user-main-content">
    <main class="main">
        <div class="page-content">
            <div class="container">
                <h2 class="title mb-3">Product List</h2><!-- End .title -->
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-3">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-1.jpg" alt="Product image"
                                         class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>follow</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body" style="transform: translateY(0px);">
                                <div class="product-action">
                                    <a href="cart.html" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                                <div class="product-cat">
                                    <a href="#">Women</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Aliquam tincidunt mauris</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $50.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer" style="visibility: hidden; transform: translateY(100%);">
                                <div class="ratings-container">
                                    <span class="ratings-text">4 Reviews</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-3">
                            <figure class="product-media">
                                <span class="product-label label-sale">30 points</span>
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-2.jpg" alt="Product image"
                                         class="product-image">
                                </a>
                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>follow</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body" style="transform: translateY(0px);">
                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                                <div class="product-cat">
                                    <a href="#">Men</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Vestibulum auctor</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $120.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer" style="visibility: hidden; transform: translateY(100%);">
                                <div class="ratings-container">
                                    <span class="ratings-text">4 Reviews</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-3">
                            <figure class="product-media">
                                <span class="product-label label-out">Out of Stock</span>
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-3.jpg" alt="Product image"
                                         class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>follow</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body" style="transform: translateY(0px);">
                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                                <div class="product-cat">
                                    <a href="#">Women</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Nunc dignissim risus</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $50.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer" style="visibility: hidden; transform: translateY(100%);">
                                <div class="ratings-container">
                                    <span class="ratings-text">0 Reviews</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-3">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-4.jpg" alt="Product image"
                                         class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>follow</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body" style="transform: translateY(0px);">
                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                                <div class="product-cat">
                                    <a href="#">Accessories</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Cras ornare tristique</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $32.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer" style="visibility: hidden; transform: translateY(100%);">
                                <div class="ratings-container">

                                    <span class="ratings-text">11 Reviews</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-3">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-1.jpg" alt="Product image"
                                         class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>follow</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body" style="transform: translateY(0px);">
                                <div class="product-action">
                                    <a href="cart.html" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                                <div class="product-cat">
                                    <a href="#">Women</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Aliquam tincidunt mauris</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $50.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer" style="visibility: hidden; transform: translateY(100%);">
                                <div class="ratings-container">
                                    <span class="ratings-text">4 Reviews</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-3">
                            <figure class="product-media">
                                <span class="product-label label-sale">30 points</span>
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-2.jpg" alt="Product image"
                                         class="product-image">
                                </a>
                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>follow</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body" style="transform: translateY(0px);">
                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                                <div class="product-cat">
                                    <a href="#">Men</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Vestibulum auctor</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $120.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer" style="visibility: hidden; transform: translateY(100%);">
                                <div class="ratings-container">
                                    <span class="ratings-text">4 Reviews</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-3">
                            <figure class="product-media">
                                <span class="product-label label-out">Out of Stock</span>
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-3.jpg" alt="Product image"
                                         class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>follow</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body" style="transform: translateY(0px);">
                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                                <div class="product-cat">
                                    <a href="#">Women</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Nunc dignissim risus</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $50.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer" style="visibility: hidden; transform: translateY(100%);">
                                <div class="ratings-container">
                                    <span class="ratings-text">0 Reviews</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-3">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-4.jpg" alt="Product image"
                                         class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>follow</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body" style="transform: translateY(0px);">
                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                                <div class="product-cat">
                                    <a href="#">Accessories</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Cras ornare tristique</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $32.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer" style="visibility: hidden; transform: translateY(100%);">
                                <div class="ratings-container">

                                    <span class="ratings-text">11 Reviews</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                </div><!-- End .row -->
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                            </a>
                        </li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item-total">of 6</li>
                        <li class="page-item">
                            <a class="page-link page-link-next" href="#" aria-label="Next">
                                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>
</div>
</body>

</html>