<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/user/ulayout}">
<head>
    <meta charset="UTF-8">
    <title th:title="${pro.name}"> </title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div layout:fragment="user-main-content">
    <main class="main">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-details-top">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="product-gallery">
                                        <figure class="product-main-image">
                                            <!--                                            <span class="product-label label-out">Out of Stock</span>-->
                                            <img id="product-zoom"
                                                 th:src="${pro.photo}"
                                                 th:data-zoom-image="${pro.photo}"
                                                 th:alt="${pro.name}">
                                        </figure><!-- End .product-main-image -->
                                    </div><!-- End .product-gallery -->
                                </div><!-- End .col-md-6 -->

                                <div class="col-md-6">
                                    <div class="product-details product-details-sidebar">
                                        <h1 class="product-title" th:text="${pro.name}"></h1>
                                        <!-- End .product-title -->

                                        <div class="product-price">
                                            $<span th:title="${pro.price}"></span>
                                        </div><!-- End .product-price -->

                                        <div class="product-content">
                                            <p th:text="${pro.description}"></p>
                                        </div><!-- End .product-content -->

                                        <div class="product-details-action">
                                            <div class="details-action-wrapper">
                                                <a href="#" class="btn-product btn-wishlist"
                                                   title="Wishlist">follows  <span th:text="${' '+pro.seller.getFirstName()}"></span></a>
                                            </div><!-- End .details-action-wrapper -->
                                        </div><!-- End .product-details-action -->

                                        <div class="product-details-footer details-footer-col">
                                            <div class="product-cat">
                                                <span>Category:</span>
                                                <a th:href="@{'/products?cat='+${pro.category.id}}"><span th:text="${pro.category.name}"></span></a>
                                            </div><!-- End .product-cat -->

                                        </div><!-- End .product-details-footer -->
                                    </div><!-- End .product-details -->
                                </div><!-- End .col-md-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .product-details-top -->

                        <div class="product-details-tab">
                            <ul class="nav nav-pills justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="product-desc-link" data-toggle="tab"
                                       href="#product-desc-tab" role="tab" aria-controls="product-desc-tab"
                                       aria-selected="true" >Description</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="product-review-link" data-toggle="tab"
                                       href="#product-review-tab" role="tab" aria-controls="product-review-tab"
                                       aria-selected="false">Reviews <span th:text="${reviewList.size()}"></span></a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                                     aria-labelledby="product-desc-link">
                                    <div class="product-desc-content">
                                        <h3>Your mesages help us to develop.</h3>
                                        <p class="lead text-primary">
                                            We collaborate with ambitious brands and people; we’d love to build something great
                                            together.
                                        </p><!-- End .lead text-primary -->

                                        <form th:action="@{'/productReview'}" method="post" class="contact-form mb-2">
                                            <div class="row">

                                            <label for="pmessage" class="sr-only">Message</label>
                                                <input type="hidden" name="pid" th:value="${pro.id}" />
                                            <textarea class="form-control" cols="30" rows="4" id="pmessage" name="pmessage" required=""
                                                      placeholder="Write your review here"></textarea>
                                            </div>

                                            <div class="text-center">
                                                <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                                                    <span>SUBMIT</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </button>
                                            </div><!-- End .text-center -->
                                        </form><!-- End .message-form -->

                                    </div><!-- End .product-desc-content -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="product-review-tab" role="tabpanel"
                                     aria-labelledby="product-review-link">
                                    <div class="reviews">
                                        <h3>Reviews <span th:text="${reviewList.size()}"></span></h3>
                                        <th:block th:each="rev : ${reviewList}">
                                            <div class="review">
                                                <div class="row no-gutters">
                                                    <div class="col-auto">
                                                        <h4><a href="#"><span th:text="${rev.buyer.getLastName()+rev.buyer.getLastName()}"> </span></a></h4>
                                                        <div class="ratings-container">
                                                            <div class="ratings">
                                                                <div class="ratings-val" style="width: 80%;"></div>
                                                                <!-- End .ratings-val -->
                                                            </div><!-- End .ratings -->
                                                        </div><!-- End .rating-container -->
                                                        <span class="review-date"><span th:text="${rev.dateCreate.getDay()}"></span> 6 days ago</span>
                                                    </div><!-- End .col -->
                                                    <div class="col">
                                                        <div class="review-content">
                                                            <p th:text="${rev.comment}"></p>
                                                        </div><!-- End .review-content -->

                                                        <div class="review-action">
                                                            <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                                            <a href="#"><i class="icon-thumbs-down"></i>Unhelpful
                                                                (0)</a>
                                                        </div><!-- End .review-action -->
                                                    </div><!-- End .col-auto -->
                                                </div><!-- End .row -->
                                            </div><!-- End .review -->
                                        </th:block>
                                    </div><!-- End .reviews -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .product-details-tab -->
                    </div><!-- End .col-lg-9 -->

                    <!-- End .col-lg-3 -->
                </div><!-- End .row -->

            </div><!-- End .container -->
        </div>

    </main><!-- End .main -->

</div>
</body>

</html>