<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/user/ulayout}">
<head>
    <meta charset="UTF-8">
    <title>Account - Registration</title>
    <style>
        .error{
            color: red;
        }
    </style>
</head>
<body>
<div layout:fragment="user-main-content">
    <h1>Registration</h1>
    <form method="post" th:action="@{saveAccount}" th:object="${account}">
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}" >Input is incorrect</li>
        </ul>
        <table>
            <tr>
                <td th:text="#{reg.username}">Username</td>
                <td><input type="text" th:field="*{username}">
                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:errorclass="error"></span>
                </td>
            </tr>
            <tr>
                <td th:text="#{reg.password}">Password</td>
                <td><input th:field="*{password}" />
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error"></span>
                </td>
            </tr>
            <tr>
                <td th:text="#{reg.firstName}">First name</td>
                <td><input th:field="*{firstName}" />
                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="error"></span>
                </td>
            </tr>
            <tr>
                <td th:text="#{reg.lastName}">Last name</td>
                <td><input th:field="*{lastName}" />
                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="error"></span>
                </td>
            </tr>
            <tr>
                <td th:text="#{reg.email}">Email</td>
                <td><input th:field="*{email}" />
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error"></span>
                </td>
            </tr>
            <tr>
                <td>Billing address</td>
                <td></td>
            </tr>
            <tr>
                <td th:text="#{reg.addr.street}">Street</td>
                <td><input th:field="*{billingAddress.street}" />
                    <span th:if="${#fields.hasErrors('billingAddress.street')}" th:errors="*{billingAddress.street}" th:errorclass="error"></span>
                </td>
            </tr>
            <tr>
                <td th:text="#{reg.addr.city}">City</td>
                <td><input th:field="*{billingAddress.city}" />
                    <span th:if="${#fields.hasErrors('billingAddress.city')}" th:errors="*{billingAddress.city}" th:errorclass="error"></span>
                </td>
            </tr>
            <tr>
                <td th:text="#{reg.addr.state}">City</td>
                <td><input th:field="*{billingAddress.state}" />
                    <span th:if="${#fields.hasErrors('billingAddress.state')}" th:errors="*{billingAddress.state}" th:errorclass="error"></span>
                </td>
            </tr>
            <tr>
                <td th:text="#{reg.addr.zipcode}">City</td>
                <td><input th:field="*{billingAddress.zipcode}" />
                    <span th:if="${#fields.hasErrors('billingAddress.zipcode')}" th:errors="*{billingAddress.zipcode}" th:errorclass="error"></span>
                </td>
            </tr>
            <tr>
                <td th:text="#{reg.payment}">Payment</td>
                <td><input th:field="*{payment}" />
                    <span th:if="${#fields.hasErrors('payment')}" th:errors="*{payment}" th:errorclass="error"></span>
                </td>
            </tr>
            <tr>
                <td th:text="#{reg.type}">Account type</td>
                <td><select name="type" th:field="*{type}">
                        <!--option th:value="0" th:text="Select one">Select one</option-->
                        <option th:value="1" th:text="Seller">Seller</option>
                        <option th:value="2" th:text="Buyer">Buyer</option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" value="Save" />
    </form>
</div>
</body>
</html>